
/* para recetear visual y no interfiera en mi css */
*{ 
    margin: 0;
    padding: 0;
    
    
}

header{
    background-color: rgb(221, 217, 217);
    
}

/*formulario registro  usuario*/

* {
    box-sizing: border-box;
    /*me divide mis imput */
}

main.regi {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color: #eeeeee;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.formulario__grupo-input {
    position: relative;
}
.formulario__input {
    width: 100%;
    background: #9eb1ec;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
.formulario__input:focus {
    border: 3px solid #84a2c5;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo {
    display: block;
}
.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario__checkbox {
    margin-right: 10px;
}
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}
.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje-activo {
    display: block;
}
.formulario__mensaje p {
    margin: 0;
}
.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.formulario__btn {
    height: 20px;
    line-height: 20px;
    width: 30%;
    background: #d0c2da;
    color: #120c42;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    padding-top: 15px;
    left: 15px;
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #8e0f0f;
    display: none;
}
.formulario__mensaje-exito-activo {
    display: block;
}
/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}
.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}

/*INDEX ppal*/

nav {
    height: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(rgb(165, 137, 137), rgba(243, 238, 237, 0.596));
}

nav ul {
    /* aqui sacamos los puntos de las listas y centramos ul*/
    list-style-type: none;
    text-align: center;
    padding-top: 30px;
}
nav li {
    /* aqui indicamos que una lista este detras de otra, centramos y espacios entre ellas */
    display: inline;
    text-align: center;
    margin: 0 80px 0 0;
    font-size: 23px;
    
}
nav li a {
    /* aqui sacamos el subrayado, espacio entre ellas*/
    padding: 2px 7px 2px 7px;
    color: #6e6363;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
}
h1{
    text-align: center;
    color: #4d4a4a;
}
.center {
    text-align: center;
    border: 3px double rgb(138, 14, 14);
    float: left;
    width: 800px;
    padding: 30px;
    box-shadow: 10px 10px rgb(168, 134, 123);
}
p {
    color: #970c0c;
    font-size: x-large;
    text-align: left;
}

.contain-ppal{
    position: relative;
    display: inline-block;
   padding-left: 270px;
}

table{
    display: inline-flex;
    text-align: center;
    padding: 30px 150px 30px 150px;
    font-size: 20px;
}
th{
    padding-left: 25px;
}
button {
    position: relative;
    display: block;
    left: 70px;
    padding: 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color: dimgray;
    font-style: italic; 
}
/* formulario contacto- mensaje */

body.form-cont {
    background-color: #ad8e8e;
}


.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

.container-form h2 {
    margin-bottom: 15px;
    font-size: 35px
}

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: white;
    font-weight: 700;
}

.container-form form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar,.regreso {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.regreso {
    position: relative;
    display: block;
    right: 40px;
}

/*pagina trabaja con nosotros*/

.info_empresa p {
    color: black;

    text-align: justify;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 80px;
    font-size: 25px;
    text-indent: 50px;

}
.info h2{
    color:rgb(41, 114, 79) ;
    text-decoration-line:underline;
    margin-left: 65px;
}
.info p{
    color:black;
    text-align: justify;
    margin-left: 65px;
    margin-right: 65px;
    font-size: 22px;
}
.ingresa_empresa{
    background-color: lightgrey;
    width: 1200px;
    border: 10px solid rgb(96, 93, 126);
    padding: 50px;
    margin: 80px;
}
.ingresa_empresa p, h2{
    color: rgb(87, 85, 85);
}
.form__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color: #181717;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.form__btn {
    height: 20px;
    line-height: 20px;
    width: 30%;
    background: #8d8b92;
    color: #292833;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    padding-top: 15px;
    left: 280px;
}
.mt{
    margin-top: 10px ;
}
.pie_trabaja_empresa {

    width: 1200px;
    border: 5px solid #515170;
    padding: 20px;
    margin: 80px;
    font-size: 18px;
    font-family: Cambria, bold;

}

.box {
    display: flex;
}

.vigilancia {
    flex: 2;
}

.patrimonial {
    flex: 2;
}

.monitoreo {
    flex: 2;
}

.electronica {
    flex: 2;
}

#empresa {
    color: rgb(90, 98, 116);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(195, 235, 102), 0 0 5px rgb(236, 41, 41);
    font-family: Cambria bold;
    font-size: 50px;
}

.propaganda {
    background-color: lightgrey;
    width: 1200px;
    border: 10px inset rgb(96, 93, 126);
    padding: 50px;
    margin: 80px;
    font-style: italic;
    text-align: center;
}

.img_evento {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.img_evento img {
    width: 100%;
    max-width: 25%;
    margin-right: 10px;
}
.pie_final {
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    h5{
        text-align: center;
    }
    
    /* Alinea los elementos inline y aplica un margen a la derecha */
    .pie_final img,
    .pie_final h3 {
        display: inline;
        margin-right: 10px;
        /* Ajusta el margen */
    }

/*pagina productos*/
.container-vf {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #363333; 
font-size: 18px; 
font-weight: 400; 
text-align: center; 
background: #889ccf; 
margin: 25px 25px 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid #5878ca;
}
.container-cap1 ul , .container-cap2 {
 font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #ffffff; 
font-size: 18px; 
font-weight: 500; 
text-align: center; 
background: #a9b6d6; 
margin: 25px 25px 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid #5878ca;
list-style-type: none;
}

/* contenedor fotos servicios */
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: flex-start; /* Alinea las tarjetas en la parte superior */
        margin-right: 50px;
        margin-left: 50px;
        padding: 20px; 
    }
    .card {
        flex-basis: calc(33.33% - 20px); /* Tamaño de cada tarjeta con margen */
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        text-align: center;
        border-radius: 10px; 
        display: flex;
        flex-direction: column;
    }
    .card img {
        max-width: 100%;
        height: auto;
        flex-grow: 1; 
    }
    .card .logo {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .card p {
        color: #9460cf; 
    }

     #subTit {
        text-align: center;
        margin: 30px;
        background: rgb(243, 243, 172);
        border: 1px solid rgb(196, 10, 10);
        outline: 1px solid rgb(107, 63, 156);
        outline-offset: 15px;
      }
/* contenedor de custodia vip */
 
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.image-block {
    flex-basis: calc(25% - 10px); /* Ancho del 25% con márgenes incluidos */
    margin: 5px;
    text-align: center; 
}

.custVip {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al 100% */
    height: auto; /* Mantiene la proporción de aspecto */
}
.image-text {
    margin-top: 10px; /* Espacio superior al texto */
}

      
/*para hacer las columnas con marco*/
/* 
    background-color: lightgrey;
    width: 650px;
    height: 650px;
    border: 15px solid green;
    padding: 100px;
    margin: 50px;*/

 /*pagina de carrusel*/
 .carrusel {
    display: flex; 
    align-items: center; 
    overflow: hidden; 
    max-width: 800px; 
    margin: 0 auto; 
}

.carrusel img {
   margin-top: 100px;
    width: 800px; 
    height: 500px; 
    border-radius: 20px;
}

.carrusel img.show {
    display: block;
}

.buttons {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center; 
    margin-top: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a1a9b1;
    color: #2b2828;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
}
.text-info p {
    color: #120c42;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
}
.text-info h1{
    color: #2b2828;
   text-align: center;
}
.text-info2 h1{
    color: #2b2828;
   text-align: center;
}
.text-info2 p {
    color: #120c42;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
}

.carrusel2 {
    display: flex; 
    align-items: center; 
    overflow: hidden; 
    max-width: 1400px; /* Tamaño máximo del carrusel */
    margin: 0 auto; 
}

.carrusel2 .img2 {
    width: 300px; 
    height: 200px; 
    transition: transform 0.3s; 
    cursor: pointer;
    border: 5px;
    margin-right: 10px;
    margin-left: 20px;
}

.img2:hover {
    transform: scale(1.4); 
}






